{% extends "base.html" %}

{% block content %}
    <header class="bg-success py-1">
        <div class="container px-4 px-lg-5 my-2">
            <div class="text-center text-white">
                <h1 class="display-5 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Shopee</p>
            </div>
        </div>
    </header>
    <div class='container'>
        <div class'row'>
            <center>
                <div class='col-20'>
                    <p align="justify">
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna massa, sodales et pretium id, tristique ut tortor. Curabitur id odio eget odio rhoncus porttitor maximus a tortor. Praesent egestas augue vel libero euismod pretium. Ut ut nisi egestas, tempor dui vel, hendrerit risus. Integer mattis vehicula purus, a sagittis erat sagittis eu. Nullam ut suscipit tellus, in consectetur orci. Curabitur ultricies venenatis bibendum. Sed mauris felis, rutrum vitae eros sit amet, fermentum fermentum lacus. Etiam sed massa lorem. Maecenas pellentesque luctus nibh, eleifend mattis ipsum gravida non. In vel ullamcorper urna, sit amet mattis leo. Aenean dapibus egestas lorem, nec condimentum neque bibendum at. Nulla in augue dignissim nulla placerat dictum.
                        <br>
                        Sed luctus rutrum lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a tellus posuere, cursus sapien at, posuere metus. Nullam efficitur fringilla arcu, sit amet rhoncus nulla facilisis eu. Morbi varius fermentum mattis. Cras ut interdum quam, id facilisis tellus. Donec risus massa, vulputate vitae turpis faucibus, luctus condimentum nunc. Donec posuere ex a orci varius, sed venenatis nibh condimentum. Vivamus at faucibus eros, id mattis mauris. Nam vestibulum aliquet justo, ac tincidunt eros egestas at. Sed fringilla nec enim et porta. Sed placerat varius purus vitae semper. Aenean porttitor dolor et leo ultricies maximus. Donec auctor vestibulum vestibulum. Nunc facilisis eros quis ante viverra placerat.
                    
                    </p>
                </div>
            </center>
        </div>
    </div>
{% endblock content %}